/* responsivo */

/* 320px */

@media screen and (min-width: 320px)
{
	img.logo
{
	width: 100px;
}
	h1.logofont
{
	margin-left:130px !important;
	font-size: 2.3em;
	padding-top:4%; 
}
#imagens
{
	margin-left: 50px;
}
#camisas
{
	width: 200px;
}
h1
{
	font-size: 1.7em;
}
img.social 
{
	width: 12px;
	margin-right: 1px; 
	margin-left: 16px; 
}
a.social
{
	font-size: 0.7em;
}
.redessociais
{
	margin-left: 115px;
}
#voltar a 
{
	font-size: 1.2em;
}
li
{
	font-size: 1.6em;
}
ol
{
	margin-right: 25px;
}
}

/* 360px */

@media screen and (min-width: 360px)
{
	h1.logofont
{
	margin-left:150px !important;
}
.redessociais
{
	margin-left: 135px;
}
#imagens
{
	margin-left: 70px;
}
}

/* 410px */
@media screen and (min-width: 410px)
{
	#imagens
{
	margin-left: 70px;
}
	#camisas
{
	width: 250px;
}
	img.logo
{
	width: 130px;
}
	h1.logofont
{
	margin-left:170px !important;
	font-size: 3em;
}
img.social 
{
	width: 17px;
}
a.social
{
	font-size: 1em;
}
.redessociais
{
	margin-left: 155px;
}

}

/* 540px */

@media screen and (min-width: 540px)
{
	#camisas
{
	width: 350px;
}
h1
{
	font-size: 2.7em;
}
#imagens
{
	margin-left: 80px;
}
#voltar a 
{
	font-size: 1.7em;
}

img.logo
{
	width: 170px;
}
	h1.logofont
{
	margin-left:230px !important;
	font-size: 4em;
	padding-top:3%; 
}
img.social 
{
	width: 25px;
}
a.social
{
	font-size: 1.3em;
}
.redessociais
{
	margin-left: 220px;
}
li
{
	font-size: 2.5em;
}
}


/* 760px */

@media screen and (min-width: 760px)
{
	img.logo
{
	width: 200px;
}
	h1.logofont
{
	margin-left:270px !important;
	font-size: 5.3em;
	padding-top:2%; 
}
img.social 
{
	width: 30px;
}
a.social
{
	font-size: 1.7em;
}
.redessociais
{
	margin-left: 270px;
}
#imagens
{
	margin-left: 50px;
}
	#camisas
{
	width: 300px;
}
h1
{
	font-size: 3.5em;
}
#voltar a 
{
	font-size: 2.5em;
}
li
{
	font-size: 3em;
}
}